body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f9ff;
}

header {
    background: #024873;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #036fa6;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

h1, h2 {
    color: #024873;
}

